
$white: #FFFFFF;
$DARKSLATEGRAY: #2F4F4F;
$BLACK: #000000;
$GAINSBORO: #DCDCDC;
$GRAY: #808080;
$GRAY-FORTE: #696969;
$featured: #BDB76B;
$featured-dark:  #405918;
$secundary: #758D4E;
$SELECTED: #95AC70;
